
.large{
    height: 100px;
    width: 1000px;
    background-color: rgb(19, 35, 101);
    border-radius: 20px;
    margin-top: -290px;
    
   
}

.small{
    width:900px ;
    height: 40px;
    position: relative;
    top: 30px;
    left: 50px;
    background: linear-gradient(to right,rgb(11, 91, 141),rgb(30, 42, 118),rgb(4, 9, 160));
}

.Home{
color: white;
position: relative;
left: 100px;

}

.About{
color: white;
position: relative;
top: 110px;
right: 100px;
}

.Contact{
color: white;
position: relative;
top: 110px;
right: 100px;
}



.ka{
height: 35px;
width: 35px;
border: radius 20px; ;
position: relative;
right: 48%;
top: 3px;
}

.small ul {
margin-top: -48px;    
list-style: none;
display: flex;
margin-left: 400px;
font: size 20px;
}
.small ul li{
margin-top: 12px;
margin-left: 50px;
margin-bottom: 80px;
}

.main{
height: 90vh;
width: 1000px;
border-radius: 20px;
margin-top: 63px;
background:linear-gradient(to top, rgb(0, 0,0,0.5)50%,rgb(0, 0,0, 0.5)50%),url(lk.jpg);
}

.body{
    width: 100%;
    height: 100vh;
}

.main h1{

    color: white;
    position:absolute;
    top: 200px;
    left: 450px;
}
.main h2{

    color: white;
    position: absolute;
    top: 300px;
    left: 260px;
}

.Pic3{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    top: 430px;
    left: 20px;
    
}

.Pic2{
height:200px;
width: 300px;
border-radius: 20px;
position: absolute;
top: 430px;
left: 345px;
}

.Pic1{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    top: 430px;
    left: 670px;

}
.News1{

height: 500px;
width: 300px;
border-radius: 20px;
position: absolute;
top: 757px;
left: 710px;
}



.News2{
height: 500px;
width: 300px;
border-radius: 20px;
}


.News3{
height: 500px;
width: 300px;
border-radius: 20px;
position: absolute;
top: 757px;
left: 350px;
}

.News1 img{
height: 200px;
width: 300px;
border-radius: 20px;

}
.News2 img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.News3 img{
height: 200px;
width: 300px;
border-radius: 20px;
}

.Footer{
    height: 50px;
    width: 1000px;
    background: linear-gradient(rgb(144, 161, 198),rgb(0, 30, 255),rgb(11, 3, 174));
}

.Footer p{
    color: white;
    position: relative;
    top: 10px;
}

.Login{

  height: 500px;
  width: 1000px;
  background-color: rgb(28, 28, 137);
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: -320px;
}

.action
{
  height: 400px;
  width: 290px;
  background-color:rgb(20, 126, 208);
  border-radius: 20px;
  position: absolute;
  left: 480px;
  bottom: 30px;
}

.action h2{
width: 150px;
margin-left: 70px;
}

.User{
 font-size: 20px;
 font-weight:bold;
 width:30px ;
 position: absolute;
 top:60px;
 left: 98px;
 
}

.action input{
  height: 60px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  top: 145px;
  left: 30px;
  border:none;
 outline: none;
}
 

.Pass{
 font-size: 20px;
 font-weight:bold;
 position: absolute;
 top: 150px;
 left: 100px;
}

.action input{
 height:30px ;
 width:250px  ;
 border-radius: 10px ;
 position: absolute;
 top: 175px;
 left: 30px;
 border:none;
 outline: none;
}

.action button{
height:40px;
width: 100px;
border-radius: 20px;
background-color: rgb(8, 11, 40);
color: white;
font-weight: bold;
position: absolute;
top: 250px;
left: 100px;
border: none;
cursor: pointer;

}
.action button:hover{
  background-color: rgb(8, 11, 40);

}

.action p{
position: absolute;
top: 320px;
left: 80px;
}

.Link{
  position: absolute;
  top: 370px;
  left: 80px;
}